body {
  margin: 0;
  padding: 5px;
  background: black;
  overflow: hidden;
}

#score {
  margin-left: 20px;
}

#hud {
  background: rgba(0, 120, 150, 0.5);
  text-align: center;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 30px;
  color: white;
  font-size: 20px;
  font-family: 'Electrolize', monospace;
  font-variant: small-caps;
  text-transform: uppercase;
  border-radius: 8px;
}
