body {
  margin: 0;
  padding: 5px;
  background: black;
  overflow: hidden;
}

#hud {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  font-family: monospace;
}
